<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<app></app>
<% if (env === 'DEV') { %>
<script src="../node_modules/core-js/client/shim.min.js"></script>
<script src="../node_modules/zone.js/dist/zone.js"></script>
<script src="../node_modules/reflect-metadata/Reflect.js"></script>
<script src="../node_modules/systemjs/dist/system.src.js"></script>
<script src="systemjs.config.js"></script>
<script>
    SystemJS.import('main')
            .catch(function(err){ console.error(err); });
</script>
<% } %>
<% if (env === 'PROD') { %>
<script src="main.js"></script>
<% } %>
</body>
</html>
